<li class="accepting_submissions">
  <section>
    <header>
      <h1>
        <%= link_to conference.name, conference %>
      </h1>
    </header>
    <p>
      <%= conference.start_date.strftime("%b %d") %> &mdash; <%= conference.end_date.strftime("%b %d") %>
    </p>
    <p class="year"><%= conference.start_date.strftime("%Y") %></p>
    <p class="submission_deadline">
      Submission Deadline: <%= conference.submission_deadline.to_s(:submission_deadline) %>
    </p>
    <%= link_to "Submit an abstract", new_submission_path(:conference => conference.id), :class => :abstract_link %>
  </section>
</li>