<h1>Listing conferences</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Submission deadline</th>
    <th></th>
  </tr>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= conference.name %></td>
    <td><%= conference.start_date %></td>
    <td><%= conference.end_date %></td>
    <td><%= conference.submission_deadline %></td>
    <td><%= link_to 'Show', conference %></td>
  </tr>
<% end %>
</table>

