<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @conference.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @conference.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @conference.end_date %>
</p>

<p>
  <b>Submission deadline:</b>
  <%= @conference.submission_deadline %>
</p>

<%= link_to 'Back', conferences_path %>
