<% content_for :header do %>
  <hgroup>
    <h1><%= @conference.name %></h1>
    <h2>      
      <%= @conference.start_date.strftime("%b %d, %Y") %> &mdash; <%= @conference.end_date.strftime("%b %d, %Y") %>
    </h2>
  </hgroup>
<% end %>

<section id="submissions">
  <header>
    <h1>Abstracts</h1>
  </header>
  <ul>
    <% @conference.submissions.each do |submission| %>
      <li><%= link_to submission.title, submission %></li>
    <% end %>
  </ul>
</section>

<% content_for :sidebar do %>
  <aside>
    <% if @conference.accepting_submissions? %>
      <%= link_to "Submit an abstract", new_submission_path(:conference => @conference.id) %>
    <% end %>
  </aside>
<% end %>