<%= form_for(@submission, :html => { :multipart => true }) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset id="author_info">
    <legend>Author Information</legend>
    
    <dl>
      <dt><%= f.label :names %></dt>
      <dd><%= f.text_field :authors, :required => true, :placeholder => "Limit is 255 characters" %></dd>


      <dt><%= f.label :institutions %></dt>
      <dd><%= f.text_field :institutions, :required => true, :placeholder => "Limit is 255 characters" %></dd>
    <dl>
  </fieldset>
  
  <% if params[:conference].blank? %>
    <fieldset>
      <legend>Conference</legend>
      
      <%= f.collection_select :conference_id, Conference.accepting_submissions, :id, :name, :prompt => "Select one" %>
    </fieldset>
  <% end %>
  
  <fieldset id="abstract_info">
    <legend>Abstract</legend>
    
    <dl>
      <dt><%= f.label :title %></dt>
      <dd><%= f.text_field :title, :required => true, :placeholder => "Limit is 255 characters" %></dd>

      <dt><%= f.label :body %></dt>
      <dd><%= f.text_area :body, :required => true, :placeholder => "Limit is 1600 characters" %><dd>
    </dl>
  </fieldset>
  
  <fieldset>
    <legend>Image</legend>
    <%= f.file_field :image, :class => :image %>
  </fieldset>


  <%= f.hidden_field :conference_id, :value => params[:conference] unless params[:conference].blank? %>

    <%= f.submit "Submit Abstract" %> or <%= link_to 'Cancel', submissions_path %>
<% end %>
