<%= form_for(@submission, :html => { :multipart => true }) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <legend>Author Information</legend>
      <%= f.label :names %>
      <%= f.text_field :authors, :required => true, :placeholder => "Limit is 255 characters" %>


      <%= f.label :institutions %>
      <%= f.text_field :institutions, :required => true, :placeholder => "Limit is 255 characters" %>
  </fieldset>
  
  <% if params[:conference].blank? %>
    <fieldset>
      <legend>Conference</legend>
        <%= f.collection_select :conference_id, Conference.accepting_submissions, :id, :name, :prompt => "Select one" %>
    </fieldset>
  <% end %>
  
  <fieldset>
    <legend>Abstract</legend>
      <%= f.label :title %>
      <%= f.text_field :title, :required => true, :placeholder => "Limit is 255 characters" %>

      <%= f.label :body %>
      <%= f.text_area :body, :required => true, :placeholder => "Limit is 1600 characters" %>

      <%= f.label :image %>:
      <%= f.file_field :image %>
  </fieldset>


  <%= f.hidden_field :conference_id, :value => params[:conference] unless params[:conference].blank? %>

    <%= f.submit "Submit Abstract" %> or <%= link_to 'Cancel', submissions_path %>
<% end %>
