<%= form_for(@submission, :html => { :multipart => true }) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :authors %><br />
    <%= f.text_field :authors %>
  </div>
  <div class="field">
    <%= f.label :institutions %><br />
    <%= f.text_field :institutions %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  
  <div class="field">
    <%= f.label :add_an_image %>
    <%= f.file_field :image %>
  </div>
  
  <div class="field">
    <%= f.collection_select :conference_id, Conference.accepting_submissions, :id, :name, :prompt => "Select what conference" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
