<div id="pdf_wrapper">
  <h1><%= @submission.title %></h1>
  
  <p><%= @submission.authors %></p>
  <p><%= @submission.institutions %></p>
  <div id="body">
    <%= raw RedCloth.new(@submission.body, [:filter_html]).to_html %>
  </div>
  <%= image_tag @submission.image.url if @submission.has_image? %>
</div>