<h1>Listing submissions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Authors</th>
    <th>Institutions</th>
    <th>Body</th>
  </tr>

<% @submissions.each do |submission| %>
  <tr>
    <td><%= link_to submission.title, submission %></td>
    <td><%= submission.authors %></td>
    <td><%= submission.institutions %></td>
    <td><%= submission.body %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submission', new_submission_path %>
