<% content_for :header do %>
  <hgroup>
    <h1><%= @submission.title %></h1>
    <h2><%= link_to @submission.conference.name + " Conference", conference_path(@submission.conference) %></h2>
  </hgroup>
<% end %>

<p id="notice"><%= notice %></p>

<p id="authors"><%= @submission.authors%></p>
<p id="institutions"><%= @submission.institutions %></p>

<%= raw RedCloth.new(@submission.body, [:filter_html]).to_html %>
<%= image_tag @submission.image.url if @submission.has_image? %>

<% content_for :sidebar do %>

  <% if @submission.user_id == current_user %>
    <nav>
      <ul>
        <li>
          <%= link_to 'Edit', edit_submission_path(@submission) %> 
        </li>
        <li>
        <%= link_to 'Destroy', @submission, :confirm => 'Are you sure?', :method => :delete %>
        </li>
      </ul>
    </nav>

  <% end %>

  <%= link_to 'Download PDF', download_pdf_submission_path(@submission) %>

<% end %>