<!DOCTYPE html>
<html>
<head>
  <title>Abstractify</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="user_block">
      <div>
        <nav>
          <%= link_to "Conferences", conferences_path %>
 
          <%  unless Conference.accepting_submissions.blank? %>
            |
            <%= link_to "New Submission", new_submission_path %>
          <% end %>
          
          <% if user_signed_in? %>
            | 
            <%= link_to "My Submissions", submissions_path unless current_user.admin? %>
            <%= link_to "All Submissions", submissions_path if current_user.admin? %>
          <% end %>
        </nav>
        
        <% if user_signed_in? %>
          <p>
            logged in as <%= current_user.email %> |
            <%= link_to 'logout', destroy_user_session_path %>
          </p>
        <% end %>
      </div>
    </div>

  <article id="page">
    <header id="main_header">
      <%= yield(:header) %>
    </header>
    <p id="notice"><%= notice %></p>
    
    <section id="main_content">
      <%= yield %>
    </section>

    <%= yield(:sidebar) %>
  </article>
  

  <footer>
    <p>
    &copy; 2011, <a href="http://physiology.umc.edu">University of Mississippi Medical Center Department of Physiology and Biophysics</a>
    </p>
  </footer>
</body>
</html>
